<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<section>
    <h2>Contact Us</h2>
        <fieldset>
            <legend>Submit your comment here</legend>
            <textarea id="commentFld" name="commentFld"
                  rows="10" cols="60"></textarea>
            <br />
            <button value="Submit" onclick="submitComment()">Submit</button>
        </fieldset>
        <br /><br />
        <table id="commentsTable">
            <tr>
                <th class="row-datetime">Date Time</th>
                <th class="row-comment">Comment</th>
            </tr>
        </table>
</section>
        