<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<section>
    <h3>Name</h3>
    <p>Adrienne Helms Major</p>
    <h3>Role</h3>
    <p>Office Manager, Executive Assistant, Compliance Associate</p>
    <h3>About Me</h3>
    <ul>
        <li>Originally from Houston, TX.
            <figure>
                <img src="images/kailie_folsom.jpg"
                 alt="Kailie & Folsom" 
                 id="kailieFolsom"
                 width="210"
                 height="120"
                 />
            </figure>
        </li>
        <li>Moved to Denver for a job in 2007 and has lived here
            ever since.
        </li>
        <li>Has an undergrad in finance and worked in the industry
            for 13 years before deciding to make the change to IT.
        </li>
        <li>Began the MSSE program at Regis in July 2013.</li>
        <li>Lives near DU with her husband and two dogs, Kailie a
            15 1/2 year old Springer Spaniel and Folsom a 5 year old 
            Golden Retriever.
        </li>
    </ul>
    <h3>Responsibilities</h3>
    <p>
        Hired as the Executive Assistant to the CEO, she also supports
        Pingora's CFO, COO and General Counsel. Additionally, Adrienne
        is responsible for various aspects of HR as well as compliance
        for the firm.
    </p>
    <button id="emailButton" onclick="emailMe()">Contact Me</button>
</section>
        